.Checker {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    background-color: #111;
    color: #f7f7f7;
    font-family: "Helvetica Neue";
}

.Checker__input {
    background-color: #f7f7f7;
    width: 300px;
    border: 2px solid transparent;
    padding: 10px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.Checker__input:focus {
    outline: none;
}

.red {
    border: 2px solid #f73232;
}

.green {
    border: 2px solid #4ae44a;
}
